/* pm-struct.css version 1.0.1 */

div.pm-struct-highlight-content > div {
    line-height:    1em;
    margin-top:     2em;
}

/*
div.pm-struct-highlight-content > div:first-child {
    padding-top: 10em;
}
*/

.hide-highlight-below, .hide-highlight-above {
    width: 155px;
    margin: 4px auto;
    clear:both;
    color: #2C445E;
    font-style: italic;
    font-family:'times new roman';
    text-align:center;
}
.toggle-highlight {
    width: 10px;
    height: 10px;
    margin:5px;
    background: rgba(255,255,255,0.2);
    border: black 1px;
    float: right;
}
.pm-struct-highlight-more .toggle-highlight {
    width: 0px;
    height: 0px;
    margin: 0px;
    border: none;
}
.pm-struct-highlight-more.pm-struct-highlight {
    margin: 0px;
}

.highlight-white {
    background: white !important;
    color: black !important;
}

.highlight-white .toggle-highlight {
    background: rgba(0,0,0,0.2);
}

hr.pm-default,
.body hr.pm-struct-default
{
	border:0; 
	height:20px; 
	margin: 50px auto 50px auto; 
	width:50%;
    background: #000;
    opacity: 0.2;
    display:block;
    clear:both;
}

.pm-struct-hide
{
    position:absolute;
    left: -9999x;
}
.pm-struct-highlight hr.pm-black
{
	border:0; 
	height:0; 
    background: #000;
}

.pm-struct-highlight.pm-struct-highlight-more 
{
    background:inherit;
    border: 1px solid rgba(255,255,255,0.2);
}

.pm-struct-highlight.highlight-white hr.pm-black
{
	margin: 3em auto 1em auto; 
	height:4px; 
	width:100%;
}

.pm-struct-highlight-hide {
    display: none;
}

.pm-struct-highlight
{
	margin:			0;
	padding:		0 0 20px 0;
	border-top: 2px solid black;
/* 	border-radius:	4px; */
/* 
	border-width:	1px;
	border-style:	solid;
	border-color:   #bbb;
 */
}

.pm-struct-highlight-description
{
	margin-left:	auto;
	margin-right:	auto;
	text-align:		center;
	font-size: 		120%;
	line-height:	1.25em;
	width:			90%;
	font-family:    'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* 
.pm-struct-highlight .MathJax_Display
{
    padding-left: 5em;
}
 */

.pm-struct-background-white
{
    background-color:   rgba(255,255,255,1.0);
    color: black;
}

.pm-struct-background-red
{
    background-color:   rgba(200,50,150,0.8);
}

.pm-struct-background-green
{
    background-color:   rgba(50,200,150,0.8);
}

.pm-struct-background-blue
{
    background-color:   rgba(50,150,200,0.8);
}

.pm-struct-background-yellow
{
    background-color:   rgba(200,150,50,0.8);
}

.pm-struct-background-more-red
{
    background-color:   rgba(200,50,50,0.8);
}

.pm-struct-background-more-green
{
    background-color:   rgba(50,200,50,0.8);
}

.pm-struct-background-more-blue
{
    background-color:   rgba(50,50,200,0.8);
}

.pm-struct-background-mellow-red
{
    background-color:   rgba(200,150,150,0.8);
}

.pm-struct-background-mellow-blue
{
    background-color:   rgba(150,150,200,0.8);
}

.pm-struct-background-mellow-green
{
    background-color:   rgba(150,200,150,0.8);
}

.pm-struct-highlight-exit
{
	float:			right;
	font-family:	helvetica;
	font-size:		80%;
	font-weight:	bold;
	margin-right:	0.25em;
}

.pm-struct-highlight-large
{
	margin: 3em 0;
	padding: 10px 10px 5px;
}

.pm-struct-highlight-title
{
	font-weight:    bold;
	font-size:      110%;
	font-family:    arial;
	text-align:     center;
	color:          rgb(77,77,77);
	padding: 0.5em;
}

.pm-struct-highlight-content
{
	padding-top: 1.5em; 
}

.pm-struct-hide-highlight {
    width: fit-content;
    margin: 0 auto;
}

ul.faq
{
    font-weight:        bold;
    font-family:        arial;
    font-size:          1.5em !important;
}
ul.faq div
{
    display:            none;
    margin-bottom:      60px;
}
ul.faq div.title
{
    font-size:          100%;
    display:            block;
    font-weight:        bold;
    margin:             20px 0;
    
    -webkit-touch-callout:  none;
    -webkit-user-select:    none;
    -khtml-user-select:     none;
    -moz-user-select:       none;
    -ms-user-select:        none;
}
.pm-nav {
    width: 100%;
    height: 50px;
    margin: 1em auto;
    clear: both;
    z-index:3;
}
.pm-nav-hide {
    position:absolute;
    left:-99999px;
}
.pm-nav-left {
    opacity:1;
}
.pm-nav-left:hover {
    opacity:1;
}
.pm-nav-left-arrow {
/* 
    height: 0;
    width: 0px;

    border-right: 20px solid #3AAFA9;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
 */
    
/*
    border-right: 20px solid #3AAFA9;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
*/
    float:left;
}
.pm-nav-right {
    opacity:1;
}
.pm-nav-right:hover {
    opacity:1;
}
.pm-nav-center-arrow {
    position:absolute;
    left:-999999px;
}
.pm-nav-right-arrow {
/* 
    height: 0;
    width: 0px;

    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 20px solid #3AAFA9;
 */

/*
    border-left: 20px solid #3AAFA9;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
*/

    float:right;
}
.pm-nav-left-arrow,
.pm-nav-right-arrow {
    background-color: white;
    width: 14px;
    margin: 8px 30px;
}
.pm-nav-left-arrow.mobile,
.pm-nav-right-arrow.mobile {
    background-color: transparent;
    width:20px;
}
.pm-nav-left-content,
.pm-nav-center-content,
.pm-nav-right-content {
    height:30px;
    font-size:100%;
    line-height:30px;
    display:inline-block;
    width:45%;
    color: #3AAFA9;
}
.pm-nav-left-content a,
.pm-nav-left-content a img,
.pm-nav-left-content {
    text-align:left;
    float:left;
}
.pm-nav-right-content a,
.pm-nav-right-content a img,
.pm-nav-right-content {
    text-align:right;
    float:right;
}
.pm-nav-center-content {
    text-align:center;
    width:100%;
}
.pm-nav-center-content a {
    color: #ccc;
}
.pm-nav-list a {
    font-size:110%;
    margin-left:0px;
    line-height:1.25em;
    text-decoration: none;
}
ul.pm-nav-list {
    list-style-type: none;
    font-size:150% !important;
    margin-left:0.5em;
}
ul.pm-nav-list li {
    width:80%;
    clear:both;
    font-size:120%;
    margin-left:20px;
    line-height:1em;
    margin-bottom: 1em;
}
ul.pm-nav-list li div {
    line-height:1.5em
}
