// As part of my UT Austin Theme, I am using the specified
// HEX representation of burnt orange,
//
//     #BF5700
//
// as stated on UT's site, https://brand.utexas.edu/identity/color/.
//
// I am using SCSS variables for this branding color. As appropriate,
// I am using lighter or darker version of the same burnt-orange.
// Check out the color site,
//
//     See https://www.colorhexa.com/bf5700
//     See https://www.colorhexa.com/173b5f
//
// for determining (quickly) lighter and darker versions
// of a branded color. Again, I am using SCSS variables
// to manage these different shades.
//
// Shifting to Florida Blue: #173B5F   rgba(23,59,95,1)
//
// See Google search: florida blue water palette
// See https://www.completely-coastal.com/2011/01/room-color-schemes-from-shore.html
// 
//
$florida-blue:                #173B5F;  // Pleasant blue
$florida-blue-light:          #215588;  // Lighter version of blue
$florida-blue-dark:           #0D2236;  // Darker version of blue

$uc-berkeley-blue:            #003262;  // UC Berkeley Blue
$uc-berkeley-blue-dark:       #002747;  // UC Berkeley Blue Dark
$uc-berkeley-medalist:        #C4820E;  // UC Berkeley Medalist
$uc-berkeley-gold:            #FDB515;  // UC Berkeley California Gold
$uc-berkeley-founders:        #3B7EA1;  // UC Berkeley Founders Rock

$uiuc-orange:                 #E84A27;  // UIUC Orange
$uiuc-orange-light:           #ED7155;  // UIUC Orange Light
$uiuc-orange-dark:            #DE3C18;  // UIUC Orange Dark
$uiuc-blue:                   #13294b;  // UIUC Blue
$uiuc-blue-light:             #1F4096;  // UIUC Blue Light
$uiuc-blue-lighter:           #2E5CD4;  // UIUC Blue Lighter

$utexas-burnt-orange:         #BF5700;	// Original UT Austin Burnt Orange
$utexas-burnt-orange-lighter: #d36000;	// Lighter version Original UT Austin Burnt Orange
$utexas-burnt-orange-light:   #F26E00;	// more light version Original UT Austin Burnt Orange
$utexas-burnt-orange-dark:    #8C4000;	// Darker version Original UT Austin Burnt Orange

$utexas-grey:                 #333F48;	// Original UT Austin Dark Grey
$utexas-grey-light:           #485966;	// Lighter version Original UT Austin Dark Grey
$utexas-grey-dark:            #1E252A;	// Darker version Original UT Austin Dark Grey

// Temporary
button.ctns-button {
  background-color: $uc-berkeley-founders !important;
}

.ctns-toggle-fontawesome {
  color: $uc-berkeley-blue-dark;
  opacity: 100% !important;
}

.navbar .navbar-nav .nav-link {
  color: $uc-berkeley-blue-dark;
}

.navbar .navbar-nav .nav-link.hover,
.navbar .navbar-nav .nav-link.active {
  color: $uc-berkeley-medalist !important;
}

// This css applies to the small summary paragraphs
// that show as anchors immediately below a title link.
// Recent Posts is an example.
//
.dark a.summary-link,
a.summary-link {
    color: unset;
    text-decoration: none;
}


// This css applies to the basic anchors
// that appear everywhere.
//
.dark a:not(.btn):hover, 
.dark a:not(.btn):focus,
.dark a, 
.dark a:hover {
    color: $uc-berkeley-medalist; //$uiuc-orange-light; //$utexas-burnt-orange-light; // Go lighter
    //color: $florida-blue-light; //$utexas-burnt-orange-light; // Go lighter
}

a {
    color: $uc-berkeley-medalist; //$uiuc-orange;
}

a:hover {
    color: $uc-berkeley-medalist; //$uiuc-orange;
    //color: $florida-blue-light;//$utexas-burnt-orange;
}


.btn-primary {
    background-color: $uc-berkeley-blue;//$uiuc-orange;
    border-color: $uc-berkeley-blue;//$uiuc-orange;
    //background-color: $florida-blue; //$utexas-burnt-orange;
}

// This css applies to those buttons that appear
// every so often.
//
.dark .btn-primary {
    background-color: $uc-berkeley-medalist;//$uiuc-orange;
    border-color: $uc-berkeley-medalist;//$uiuc-orange;
    color:white;
    //background-color: $florida-blue-light; //$utexas-burnt-orange-light; // Go lighter
}
.dark .btn-primary:hover,
.dark .btn-primary:focus {
    background-color: $uc-berkeley-medalist;//$uiuc-orange;
    border-color: $uc-berkeley-medalist;//$uiuc-orange;
    color: black;
}


// This css applies to the dispatchable tool bar that
// appears above "Projects". I haven't used
// this yet.
//
.dark .btn-toolbar .btn.btn-primary.active {
    background-color: $uiuc-orange !important;
    //background-color: $florida-blue !important; //$utexas-burnt-orange !important; // Go more dark than anchor
}

.btn-toolbar .btn.btn-primary.active {
    background-color: $uiuc-orange-dark;
    //background-color: $florida-blue-dark; //$utexas-burnt-orange-dark !important; // Go darker
}


// This css applies to those cool looking
// buttons that appear as outlined-versions
// of buttons.
//
.btn-outline-primary {
    color: $uc-berkeley-medalist;//$uiuc-orange;
    border-color: $uc-berkeley-medalist;//$uiuc-orange;
    //color: $florida-blue; //$utexas-burnt-orange;
    //border-color: $florida-blue; //$utexas-burnt-orange;
}


// This css applies to the font color of
// the label (top-left) in the navbar.
// This label is also called the navbar brand.
//
.navbar-brand {
    color: purple;
}

.navbar-light .navbar-brand {
    color: $uc-berkeley-blue-dark;//$uiuc-blue;
}

.navbar-light .navbar-brand:hover, 
.navbar-light .navbar-brand:focus {
  color: $uc-berkeley-medalist;
}

.dark .navbar-brand {
    color: white;
}


// This CSS applies to the font color of
// the other anchors in the navbar
//
#navbar-main .main-menu-item ul li .nav-link {
    color: $uc-berkeley-blue-dark; //$uiuc-blue;
    //color: $utexas-grey-dark;
}
.navbar .navbar-nav .nav-link.active {
    color: $uc-berkeley-blue-dark;//$uiuc-blue;
    //color: $utexas-grey-dark !important; //#2962ff !important;
}


// This CSS applies to all headers site-wide.
//
h1, h2, h3, h4, h5, h6 {
    color: $uc-berkeley-blue-dark;//$uiuc-blue;
    //color: $utexas-grey-dark;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: $uiuc-orange-dark;
    //color: $florida-blue-dark; //$utexas-burnt-orange-dark;
}


p {
    color: $uc-berkeley-blue-dark;
}

// This CSS applies to article titles -- I guess
// this only appears in the pages (landing page)
// that itself lists all the assorted posts.
//
.article-title a {
    color: $uc-berkeley-blue;//$uiuc-blue;
    //color: $utexas-grey;
}

.dark .article-title a {
    color: $uiuc-orange-light;
}

// I decided to extend my branding to the assorted
// Definitions, Theorems, Corollaries, Lemas, and
// so forth so that they stand out.
//
div.corollary,
div.theorem,
div.lemma,
div.definition {
  background-color: $uc-berkeley-blue;//$uiuc-blue;
  //background-color: $utexas-grey;
  color:            white;
  padding:          1em;

  p:last-of-type {
    margin-bottom:0;
  }
}

.dark div.corollary,
.dark div.theorem,
.dark div.lemma,
.dark div.definition {
  background-color: $uiuc-blue-light;
  //background-color: $utexas-grey;
  color:            white;
  padding:          1em;

  p:last-of-type {
    margin-bottom:0;
  }
}

body {
  background-color: #fafafa;
}
