body:not(.nav-dynamic-mode) {
    .ctns-question,
    .ctns-answer {
        position: absolute;
        left: -999999px;
    }
    .ctns-toggle-container div {
        cursor: default;
    }
}
body.nav-dynamic-mode {
    .ctns-question,
    .ctns-answer {
        position: relative;
        left: 0;
    }
    .ctns-image {
        position: absolute;
        left: -999999px;
    }
}

