body:not(.nav-dynamic-mode):not(.nav-quiz-mode) {
    .ctns-question,
    .ctns-answer {
        position: absolute;
        left: -999999px;
    }
    .ctns-toggle-container div {
        cursor: default;
    }
    .ctns-body.group-qac {
        .ctns-slide {
            display:none;
        }
    }
}
body.nav-dynamic-mode {
    .ctns-question,
    .ctns-answer {
        position: relative;
        left: 0;
    }
    .ctns-image {
        position: absolute;
        left: -999999px;
    }
}

