//*******************************************************
//*******************************************************
//  Now, I am working on formatting Figures
//
figcaption {
  font-size: 1em;
}

p.caption {
  text-align:center;
}

.figure {
  display: block;
}

.py_figure {
  margin:      1em auto;
  font-weight: 900;
  text-align:  center;
}

@import 'marker.scss';
