//*******************************************************
//*******************************************************
//  Now, I am working on formatting Figures
//
div.section.level1 {
  margin-top:    1em;
  margin-bottom: 1em;
}

pre, p, ul, ol, dl {
  margin-bottom: 2em;
}

p.caption {
  font-weight: 900;
}

.article-header-caption {
  a {
    color: cyan;
  }
}
