//color-group,
//        td {
//            border: none;
//        }
//    }
//}

.ctns-body.ctns-no-color-group-message {
    div.color-group-message {
        position:absolute;
        left:-999999px;
        font-size:80%;
        line-height:2em;
    }
}

.ctns-toggle.color-group,
.view-left.color-mode-a .color-group,
.view-left.color-mode-b .color-group,
.view-left.color-mode-c .color-group,
.view-left.color-mode-d .color-group {
    text-align:center;
    border:2px solid #0f203b;
    height: 40px;
    width: 40px;
    //height: 40px;
    //width: 40px;
    margin: 0 8px;
    opacity:1;
    color: #0f203b;
    margin-top: 8px;
    //display: inline-block;
}

.view-left.color-mode-a .color-group,
.view-left.color-mode-b .color-group,
.view-left.color-mode-c .color-group,
.view-left.color-mode-d .color-group {
    float:left;
}

.view-left.color-mode-a,
.view-left.color-mode-b,
.view-left.color-mode-c,
.view-left.color-mode-d {

    .color-group-a,
    .color-group-b,
    .color-group-c,
    .color-group-d {
        width:       36px;
        height:      36px;
        margin:      0;
        line-height: 36px;
        font-size:   120%;
        font-weight: normal;
        float:left;
    }
}

.view-right .color-group,
.ctns-toggle.color-group {

    .color-group-a,
    .color-group-b,
    .color-group-c,
    .color-group-d {
        width:       36px;
        height:      36px;
        margin:      0;
        line-height: 36px;
    }
}

main {
//    flex: 0 0 100% !important;
//    max-width: 100% !important;
}

b,
strong {
    font-weight:bold;
}

.ctns-body.ctns-flashcard.ctns-viewer-2 .ctns-slide {
    //height:390px; /* Forcing height away from a perfect 360px */
    
    .ctns-label {
        margin: 0;
        //margin-top: -14px;
    }
}

.ctns-audio.ctns-selected {
    //z-index:99;
}
.ctns-body.ctns-flashcard.group-flashcard {

    .ctns-quiz {
        border: 2px solid black;
    }

}
.ctns-body.ctns-flashcard.group-none {

    .ctns-quiz {
        border: 2px solid orange;
    }

    .ctns-front-image,
    .ctns-back-image {
        border: 2px solid transparent;
    }

    .ctns-front-image:not(.ctns-selected),
    .ctns-back-image:not(.ctns-selected),
    .ctns-slide {
        position:absolute;
        left:-99999999px;    
    }

    .ctns-front-image.ctns-selected,
    .ctns-back-image.ctns-selected,
    .ctns-slide.active-slide {
        position:relative;
        left:0;
    }

}

pre.ctns-user-selectable {
    font-size: 60% !important;
    overflow-x: scroll;
    width: 1000px;
}

.page-body {

    .spoiler {
        text-align: center;

        p {
            text-align: left;
        }

        p:first-child {
            text-align: center;
        }
    }

    //.ctns-body {
    //    margin-bottom: 3rem !important;
    //}

    .ctns-body.ctns-flashcard {
        //margin-bottom: 0rem !important;
        margin-bottom: 3rem !important;
        padding-top: 0 !important;
    }

//    .ctns-image {
//        border: 1px solid red;
//    }

    h1 {
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3, blockquote, pre, p, ul, ol, dl, caption {
        margin-bottom: 3rem !important;
        font-size: 1.25rem;
    }

    .ctns-toggle-container {
        margin-bottom: 0.5em; //1em !important;
    }

    //.ctns-hide-dynamic.ctns-toggle-fontawesome {
    //    position: relative !important;
    //    left: 0 !important;
    //}

    .docs-article-container {
        max-width: 100%;
    }

}

.ctns-body.ctns-flashcard .ctns-back,
.ctns-body.ctns-flashcard .ctns-front {
    //font-size: 80% !important;
    //width: 90% !important;
}

.ctns-question,
.ctns-answer {
    padding: 2px 0 0 4px;
}
.ctns-callhome {
    position:absolute;
    left: -999999px;
}

.ctns-image img,
.ctns-front-image img,
.ctns-back-image img {
    max-width: none;
    margin:0 auto;
}

.ctns-body.ctns-flashcard .ctns-label {
    //display:none;
}

* {
    user-select:           none !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select:   none !important;
}

main {
  //* {
  //    overflow: hidden !important;
  //}

  //.tex {
  //    overflow: visible !important;

  //    * {
  //        overflow: visible !important;
  //    }
  //}

  //mjx-container {
  //    overflow: visible !important;
    
  //    * {
  //        overflow: visible !important;
  //    }

  //}

  //.ctns-quiz {
  //    overflow: hidden !important;
  //}
  .ctns-question,
  .ctns-answer,
  .ctns-question *,
  .ctns-answer *,
  .ctns-toggle-fontawesome,
  .ctns-body:not(.ctns-flashcard) .ctns-slide {
      //overflow: visible !important;
  }

  .ctns-body.ctns-flashcard .ctns-slide {
      overflow: hidden;
  }
}

.ctns-audio {
  //display:none;
}
.ctns-audio.ctns-selected {
  //display:block;
}


//*******************************************************
//*******************************************************
//  As I add my math work
//
body {
  font-family: Roboto, "sans-serif";
  font-size: 1.25em;
  line-height: 1.625;
}

//*******************************************************
//*******************************************************
// Repair job. Trying to kill a pre-assignment of a border
// width on graphs. Maybe there is a better approach.
//
.jxgbox {
  border:none !important;
}
.jxgbox.pm-border {
  border-width: 4px !important;
  border-color: #999 !important;
}
.pm-no-border.jxgbox {
  border: none !important;
}

//*******************************************************
//*******************************************************
// Repair job. Squeezing out a bit more space between
// the controls (dynamic) and the graphs.
//
.ctns-toggle-container {
  margin: 0 auto !important;
}

.ctns-slide .ctns-label {
    margin: 0;
    margin-top: -14px;
}
.ctns-title-label,
.ctns-title-description {
    display:none;
}

.ctns-body.ctns-flashcard {
    .ctns-quiz-container {
        padding: 0;
        padding-top: 0;
        border: 2px solid transparent;
    }
}
.ctns-body:not(.ctns-flashcard) {
    .ctns-quiz-container {
        padding: 0;
        padding-top: 14px;
        border: 2px solid transparent;
    }
}

//*******************************************************
//*******************************************************
//  Now, adjust my ctns-image until I understand
//  why the images are just off. Use padding not
//  margin. I am using margin to center the image.
//
.article-style img.ctns-image {
  margin-top:    0;
  margin-bottom: 0;
}
pre.ctns-image {
  padding-top:   20px;
  margin-bottom: 0;
}
.ctns-body {
  border: 1px solid transparent;
  margin-bottom: 0px !important;
}
pre.ctns-image {
  border: 1px solid transparent;
  border-radius: 0;
}
pre.ctns-image img {
  border:     1px solid transparent;
}
.ctns-quiz {
  border: 1px solid transparent;
}

//*******************************************************
//*******************************************************
//  Now, I am working on formatting Figures
//
div.section.level1 {
  margin-top:    1rem;
  margin-bottom: 1rem;
}

// For now, I am going to let it go as to h1, h2.
// 
h3, blockquote, pre, p, ul, ol, dl, caption {
  margin-bottom: 2rem;
}

p.caption {
  font-weight: 900;
}

.article-header-caption {
  a {
    color: cyan;
  }
}


.highlight {
    margin-bottom: 2rem;
}

.share-box {
    display: none;
}

//*******************************************************
//*******************************************************
// Appears to be an oversight on integrating dygraphs
// into Blogdown 
//
.dygraphs {
  margin-bottom: 2rem;
}


//*******************************************************
//*******************************************************
//  And not to forget about formatting Tables
//
table {
  caption {
    text-align:  center;
    font-weight: 900;
    font-size:   1rem;
    color:       rgba(0,0,0,1);
  }
}





.definition,
.theorem,
.corollary,
.lemma {
  display:block;
  margin-bottom:1rem;

  ul, ol, dl {
    margin-top: 1rem;
  }
  
  li {
    margin-bottom: 0.5rem;
  }

  hr {
    width: 80%;
    background: #999;
    background-image: none;
  }
}

.propositional-calculus {
  width:fit-content;
  margin:0 auto;

  table > tbody > tr:nth-child(odd) > td {
    background-color: #eee;
  }
  
  table > tbody > tr > td {
    border-top: none;
  }

  caption {
    font-weight: bold;
    color: black;
    text-align: center;
  }

  td:nth-child(1) {
    min-width: 50px;
  }
  td:nth-child(2),
  td:nth-child(3) {
    min-width: 100px;
  }
}

table {
    font-size: inherit !important;
}

.docs-toc {
    position: fixed;
    right: 0;
}
.docs-sidebar {
    position: fixed;
    left: 0;
    width:300px;
}
.dark {
    .docs-links {
        border-right: 1px solid white;
    }
}
main {
    margin-left:250px;
}

.ctns-count-hide {
    position: absolute !important;
    left: -999999px !important;
}

.ctns-stats {
    position: absolute;
    top: 150px;
    left: 150px;
    height: fit-content;
    width: 100%;
    background-color:cyan;
}
.ctns-trophy {
    width: 100%;
    height: 1em;
    background-color: cyan;
    position: fixed;
    top: 70px;
    line-height:1em;

    i {
        padding: 0 0.5em;
        font-size: 22px;
    }
}

div.nav-v-bar {
    width:3px;
    background-color: white;;
    height:33px;
    margin: -4px 5px 0 13px;
}

ul.nav-icons li {
    padding:4px;
    margin-right:0.5em;
    width: 40px;
}

.spoiler {
    margin-top: 2em;
}

.spoiler-left > p:first-of-type {
//    display: block;
    text-align:center !important;
    text-indent: 0;
}

.spoiler-bullet {

    li p {
        display: list-item;
        list-style-type: disc;
        list-style-position: inside;
     
            padding-left: 36px ;
            text-indent: -36px ;
    }

}

.spoiler-left {

    ul,
    ol {
        padding-inline-start: 0px;
        margin-bottom: 0 !important;
    }

    ul li,
    p {
        text-align:left !important;
    }

    //ul li:last-of-type {
    //    p {
    //        margin-bottom: 0 !important;
    //    }
    //}

    .MathJax {
        margin: 2em 0 !important;
    }
}

.ctns-question,
.ctns-answer {
    font-family: Roboto, "sans serif";
    font-size: 1.25rem;
}

.tex {
    padding: 12px 0 0 0 !important;
}

.ctns-body.ctns-flashcard {
    .ctns-quiz-container {
        width: fit-content;
    }
}

.article-style {
    overflow-x: visible;
}

