//*******************************************************
//*******************************************************
//  Now, I am working on Boxes (blocks} with a
//  highlighted background.
//
//  For color scheme
//  See https://rgb.to/rgb/207,242,4
//
$highlight-blue:        #2704F1;
$highlight-red:         #f104CE;
$highlight-yellow:      #CFF204;
$highlight-green:       #1BF104;
 
// Even better colors
// See https://www.color-hex.com/color-palette/54706
//
$highlight-blue:        #00cdff;
$highlight-red:         #ff00bc;
$highlight-yellow:      #deff00;
$highlight-green:       #03ff00;
$highlight-purple:      #8500ff;
$highlight-transparent: transparent;

// Set basic format.
//
.highlight {
  padding:1em;
  margin: 1rem 0 2rem 0;

  p:last-of-type {
    margin-bottom: 0 !important;
  }

}

.highlight.spread {
  p {
    margin-bottom:1em;
  }
}

.highlight.bottom {
  margin-bottom:2em;
}

.highlight.center {
  text-align:center;
}

.highlight.no-padding {
  padding:0;
}

// Set basic colors.
//
.highlight {
  background-color: $utexas-grey;
  color:white;
  //background-color: $highlight-yellow;
}

.highlight.red {
  background-color: $highlight-red;
  color:black;
}

.highlight.blue {
  background-color: $highlight-blue;
  color:black;
}

.highlight.yellow {
  background-color: $highlight-yellow;
  color:black;
}

.highlight.green {
  background-color: $highlight-green;
  color:black;
}

.highlight.purple {
  background-color: $highlight-purple;
  color:white;
}

.highlight.transparent {
  background-color: $highlight-transparent;
  color:black;
}

// Set reverse colors for fonts
// on a per-background basis.
//
.highlight.reverse {
  p,
  a,
  h1, h2, h3, h4, h5, h6 {
    color:white;
  }
}

.highlight.blue.reverse {
  p,
  a,
  h1, h2, h3, h4, h5, h6 {
    color:white;
  }
}

.highlight.red.reverse {
  p,
  a,
  h1, h2, h3, h4, h5, h6 {
    color:white;
  }
}

.highlight.yellow.reverse {
  p,
  a,
  h1, h2, h3, h4, h5, h6 {
    color:black;
  }
}

.highlight.green.reverse {
  p,
  a,
  h1, h2, h3, h4, h5, h6 {
    color:black;
  }
}

.highlight.purple.reverse {
  p,
  a,
  h1, h2, h3, h4, h5, h6 {
    color:white;
  }
}

.highlight.center {
  text-align:center;
}
