//***************************************************************
// Updates to TEXT HIGHLIGHTING
//
// See https://medium.com/@codingdudecom/highlight-text-css-97331a5b71b5
// See http://www.coding-dude.com/wp/css/highlight-text-css/
//***************************************************************

// Let's go with the RIBBON look.
//
marker.ribbon {
  background-color:transparent;
  position:relative;
  margin:0.1em;
  padding: 0 1em 0 0.1em;
}

marker.ribbon:before{
  content:"";
  z-index:-1;
  left:-0.5em;
  top:0.1em;
  border-width:0.5em;
  border-style:solid;
  border-color:lightgreen;
  position:absolute;
  width:100%;
  border-left-color:transparent;
  border-right-color:transparent;
}

// Now, let's go with the ARROW look.
//
marker.Xarrow {
  background-color:transparent;
  position:relative;
  margin:0 0.5em;
  padding:0 0.2em;
}

marker.Xarrow:before{
  content:"";
  z-index:-1;
  left:-0.5em;
  top:0.1em;
  border-width:0.5em;
  border-style:solid;
  border-color:orange;
  position:absolute;
  width:calc(100% - 0.5em);
  border-left-color:transparent;
}

marker.Xarrow:after{
  content:"";
  z-index:-1;
  right:0;
  top:0.1em;
  border-width:0.5em;
  border-style:solid;
  border-color:orange;
  position:absolute;
  border-top-color:transparent;
  border-bottom-color:transparent;
  border-left-color:transparent;
  transform:rotate(180deg);
  transform-origin:center right;
}

// And now, let's go with the dash red look.
//
marker.border-dash-red {
  background-color:transparent;
  border:2px dashed red;  
  padding:0.03em 0.25em;
}

// And, here is the sketch look.
//
marker.sketch {
  background-color:transparent;
  position:relative;
}

marker.sketch:before{
  content:"";
  z-index:-1;
  left:-0.5em;
  top:-0.1em;
  border-width:2px;
  border-style:solid;
  border-color:red;
  position:absolute;
  border-right-color:transparent;
  width:100%;
  height:1em;
  transform:rotate(2deg);
  opacity:0.7;
  border-radius:50%;
  padding:0.1em 0.25em;
}

marker.sketch:after{
  content:"";
  z-index:-1;
  left:-0.5em;
  top:0.1em;
  padding:0.1em 0.25em;
  border-width:2px;
  border-style:solid;
  border-color:red;
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:100%;
  height:1em;
  transform:rotate(-1deg);
  opacity:0.7;
  border-radius:50%;
}

// Here is a more realistic look for
// a marker.
//
marker.realistic {
  background-color:transparent;
  position:relative;
  padding: 0 0.5em 0 0;
}

marker.standard {
  background-color: transparent;
  position:relative;
  padding: 0 0.5em 0 0;
}

marker.realistic:before {
  content:"";
  background-color:#ff6db7;
  width:100%;
  height:1em;
  position:absolute;
  z-index:-1;
  filter:url(#marker-shape);
  left:-0.25em;
  top:0.1em;
  padding:0 0.25em;
}

marker.standard:before {
  content:"";
  background-color:yellow;
  width:100%;
  height:1em;
  position:absolute;
  z-index:-1;
  filter:url(#marker-shape);
  left:-0.25em;
  top:0.1em;
  padding:0 0.25em;
}
//marker.standard {
//  background-color: yellow;
//  position:relative;
//}
//marker.standard:before {
//  filter:url(#marker-shape-yellow);
//  background-color: yellow;
//}


marker {
  background-color: yellow;//$utexas-grey-light;
  //color: white;
  padding:0 0.5em;
}

marker.arrow{
  position: relative;
  margin: 0 0.5em;
  padding: 0 0.2em 0.06em 0.2em;
  background-color: orange;
  line-height: 1.2em;

//  position:relative;
//  margin:0 0.5em;
//  padding:0 0.2em;
//  background-color: orange;
}

marker.arrow:before{
  content: "";
  z-index: -1;
  left: -0.55em;
  top: 0.0em;
  border-width: 0.6em;
  border-style: solid;
  border-color: orange;
  position: absolute;
  width: calc(100% - 0.5em);
  border-left-color: transparent;

//  content:"";
//  z-index:-1;
//  left:-0.5em;
//  top:0.1em;
//  border-width:0.5em;
//  border-style:solid;
//  border-color:orange;
//  position:absolute;
//  width:calc(100% - 0.5em);
//  border-left-color:transparent;
}

marker.arrow:after{
  content:"";
  z-index:-1;
  right:0;
  left:-0.01em;
  top:-0.02em;
  border-width:0.61em;
  border-style:solid;
  border-color:orange;
  position:absolute;
  border-top-color:transparent;
  border-bottom-color:transparent;
  border-left-color:transparent;
  transform:rotate(180deg);
  transform-origin:center right;
}
