.ctns-page-header-space,
.ctns-page-footer-space {
    border: 1px solid black;
}

.ctns-print.ctns-page-header,
.ctns-print.ctns-page-footer {
    border: 1px solid black;
}

.ctns-page-container,
.ctns-page-header-space,
.ctns-page-footer-space,
.ctns-page-body,
.ctns-page-tr,
.ctns-page-td {
    max-width: 100%;
    width: 100%;
}


@media print {

  * {
      color: black !important;
  }

  .body-footer,
  .site-footer,
  .article-widget {
      display:none;
  }

  .view {
     page-break-inside: avoid;
  }
}

body.nav-print-mode.nav-study-mode {
    margin:0;

    main {
        //margin: 0 3em;
        margin: 0;
    }

    td {
        padding: 1em;
    }

    div.study-pack table .ctns-body:not(.ctns-flashcard) .ctns-image img {
        max-width: 800px;
    }

    .ctns-body {
        width: 750px;
        //width: 750px;

        .ctns-image img {
            //max-width: 1000px;
            //width: 1000px;
            //max-width: 980px;
        }
    }

}

body:not(.nav-print-mode) {
    .ctns-print {
        display:none;
    }
}

body.nav-print-mode.nav-scholar-mode {
    .ctns-slide {
        border-bottom: 5px solid black;
    }
}

body.nav-print-mode {

    .ctns-body.group-qac .ctns-answer-commentary,
    .site-footer,
    .body-footer,
    .article-widget,
    .group-none {
        position:absolute;
        left:-999999px;
    }

    .ctns-slide {
        //border-bottom: 2px solid black;
    }

    .ctns-body.ctns-flashcard.group-flashcard {
        .ctns-slide {
            border:none;
        }
        .ctns-quiz {
            border:none;
        }

        .ctns-front-image,
        .ctns-back-image {
            border:2px solid black;
        }
    }

    main {
        margin: 0 auto;
        padding: 0 !important;
        flex: 0 0 80%;
        max-width: 90%;
    }

    .row {
        margin:    0;
        display:   inherit;
        flex-wrap: none;
    }
    .article {
        //width: 10in;
    }

    .ctns-slide {
        page-break-inside: avoid;
    }

    .page-body .ctns-body {
        margin-bottom: 0 !important;
    }

    //.ctns-image {
    //    border: 2px solid black;
    //    padding: 1em 0 0 0;
    //}

    p {
        page-break-inside: avoid;
    }

    .ctns-button-group,
    div.spoiler,
    .ctns-label,
    .ctns-toggle-container,
    .ctns-audio {
        display: none !important;
    }

    h1 {
        margin-top:0 !important;
    }

    .docs-article-container {
        max-width: inherit;
    }

    //.ctns-body {
    //    page-break-inside: avoid;
    //}

    .ctns-body.group-qa,
    .ctns-body.group-qac {
        //background-color:rgba(55,55,55,0.3) !important;

        .ctns-image {
            display:none;
        }

        .ctns-slide {
            display:inline-block;
            width: 100%;
            max-width: 100%;
        }

        .ctns-quiz-container {

            padding: 0px;

            .ctns-quiz {
                width: inherit;
            }
        }

        .ctns-question,
        .ctns-answer {
            padding: 0;
            margin: 0 auto;
            width: 450px;
            height: fit-content;
            min-height: 1in;

            position: relative !important;
            left:0px !important;
            float: left;
            border: none;

            .questionblock {
                width: 400px;
            }

            .answerblock {
                width: 400px;
            }

            .ctns-button {
                display: none;
            }
        }

        .ctns-question {
            margin-right: 1em;
        }

        .ctns-answer {
            border-left-width: 2px;
            border-left-style: solid;
            border-left-color: black;
        }

        .ctns-answer-commentary {
            padding-top: 1em;
            padding-bottom: 0em;
            border-top:1px solid black;
            font-size: 80%;
            overflow: visible;
           
            * {
                overflow: visible;
            }
        }
    }

    * {
        overflow:visible;
    }

    td {
        padding: 0;
    }

    .ctns-body.ctns-flashcard {

        padding: 0 !important;

        .ctns-front-image img,
        .ctns-back-image img,
        .ctns-image img {
            max-width: 450px;
            width: 450px;
            height: auto;
        }

        .ctns-quiz-container {

            margin: 0;

            padding: 0;    

            .ctns-quiz {
                width: fit-content;
            }

        }

        .ctns-back-image,
        .ctns-front-image {
            display: inline;
            width: 6000%;
            height: fit-content;
        }

        .ctns-slide {
            display: flex;
            flex-direction: row;
            max-width: 100%;
            width: 100%;
            height: fit-content;

            .ctns-front-image {
               margin-right: 0.5rem;
            }

         }
    }
}
