body:not(.nav-scholar-mode) {
    .ctns-answer-commentary {
        position: absolute;
        left: -999999px;
    }
}

body.nav-scholar-mode {
    .ctns-answer-commentary {
        position: relative;
        left: 0;
    }
}

