body:not(.js-scholar) {
    .ctns-answer-commentary {
        position: absolute;
        left: -999999px;
    }
}

body.js-scholar {
    .ctns-answer-commentary {
        position: relative;
        left: 0;
    }
}

