table.ctns-page-container {
    display: table;
}

main.docs-content {
    margin-left: 250px;
}

body > table {
    display:table;
}

table.layout {
    tr.layout {
        td.layout {
            padding: 0;
            border: none;
        }
    }
}

#docs-nav {
    li {
        padding-left: 1em;
        font-size: 80%;
    }
}

.ctns-print {
    color: white;
    //position:absolute;
    //left: -999999px;
}
.ctns-page-header,
.ctns-page-footer {
    background-color: transparent;
    text-align: center;
    padding-top: 0;
    height: fit-content;
    width: 100%;
}
.view-ctns-page-header-space,
.view-ctns-page-footer-space,
.ctns-page-header-space,
.ctns-page-footer-space {
    background-color: transparent;
    width: 100%;
}
.view-ctns-page-header-space,
.view-ctns-page-footer-space,
.view-ctns-page-header-space *,
.view-ctns-page-footer-space *,
.ctns-page-header-space,
.ctns-page-footer-space,
.ctns-page-header-space *,
.ctns-page-footer-space * {
    border:none !important;
}
.ctns-page-body > tr > td {
    border:none !important;
}
.view-ctns-page-header-space,
.ctns-page-header-space div {
    height: 0;
}
.view-ctns-page-footer-space,
.ctns-page-footer-space div {
    height: 0.5in;
}
.ctns-page-header {
    position: fixed;
    top: 0;
    font-weight: 900;
    font-size: 1.5em;
}
.ctns-page-footer {
    position: fixed;
    bottom: 0;
    font-weight: normal;
    font-size: 1em;
    padding-top: 1em;
}
.ctns-page-container td {
    background-color: transparent !important;
}




/*
<table class="ctns-page-container">
  <thead class="ctns-page-header-space">
    <tr class="ctns-page-tr"><td class="ctns-page-td">
      <div>&nbsp;</div>
    </td></tr>
  </thead>
  <tfoot class="ctns-page-footer-space">
    <tr class="ctns-page-tr"><td class="ctns-page-td">
      <div>&nbsp;</div>
    </td></tr>
  </tfoot>

  <tbody class="ctns-page-body"><tr class="ctns-page-tr"><td class="ctns-page-td">

  <div class="page-body">
    {{ block "main" . }}{{ end }}
  </div>

  </td></tr></tbody>
</table>

*/
