main {
    //border: 1px solid red;
}

.view-ctns-page-header-space,
.view-ctns-page-footer-space {
    position: absolute;
    left: -99999999px;
}

.faux-slide {
    width: 100%;
    height: 280px;
    margin:0.5em auto;

    .slide-left,
    .slide-right {
        width: 50%;
    }

    .slide-left {
        //background-color: orange;
    }
    .slide-right {
        //background-color: cyan;
    }

    .slide-front,
    .slide-front * {
        position:relative;
        left: 0;
            
        mjx-assistive-mml {
            position: absolute;
            left: 0;
        }
    }
        
    .slide-back,
    .slide-back * {
        position:relative;
        left: 0;
            
        mjx-assistive-mml {
            position: absolute;
            left: 0;
        }
    }
        
    .slide-front,
    .slide-right {
        float:right;
    }
        
    .slide-back,
    .slide-left {
        float:left;
    }

    .slide-front,
    .slide-back {
        text-align: center;
        border:1px solid black;
    }
    
    .slide-front {
        //background-color: blue;
        margin-right: 0.25em;
    }
        
    .slide-back {
        //background-color: yellow;
        margin-left: 0.25em;
    }

}


body.nav-slide-mode {

    .docs-content {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        padding-left: 0em !important;
        padding-right: 0em !important;
        margin: 0em auto;
        padding-top: 0;
        padding-bottom: 0;
    }

    div.updated-view,
    div.updated-view-title,
    .body-footer,
    .ctns-button-group,
    .highlight,
    span.math,
    p,
    blockquote,
    ol,
    ul,
    hr,
    .article-widget,
    .study-pack,
    .ctns-body:not(.ctns-flashcard),
    .ctns-body:not(.group-flashcard),
    h1, h2, h3,
    .spoiler,
    .docs-toc,
    .docs-sidebar {
        position:absolute;
        left:-999999px;
    }

    nav.navbar ul {
        position:relative;
        left:0;
    }

    .ctns-body.ctns-flashcard {
        p {
            position:relative;
            left: 0;
        }
    }

    .faux-slide {

        width: 100%;

        .slide-left,
        .slide-right {
            float: none;
            margin: 0 auto;
        }

        .slide-front,
        .slide-back {
            margin: 0em auto;
            float: none;
        }

        .slide-front.slide-hide,
        .slide-back.slide-hide {
            position:absolute;
            left:-99999px;
        }
        
        .slide-left {
            .slide-front:not(.slide-hide) {
                * {
                    position:relative;
                    left: 0;
                }
                mjx-assistive-mml {
                    position: absolute;
                    left: 0;
                }
            }
        }
    
        .slide-right {
            .slide-back:not(.slide-hide) {
                * {
                    position:relative;
                    left: 0;
                }

                mjx-assistive-mml {
                    position: absolute;
                    left: 0;
                }
            }
        }

    }

}

body.XXXnav-slide-mode.nav-print-mode {
}

body.nav-slide-mode.nav-print-mode {

    .faux-slide {
        width: 100%;
        margin: 0 0 0.5em 0;

        .slide-left,
        .slide-right {
            width: 50%;
        }

        .slide-front,
        .slide-back {
            //margin-top: 0.5em;
            //margin-bottom: 0em;
        }

        .slide-front,
        .slide-front * {
            position:relative;
            left: 0;

            mjx-assistive-mml {
                position: absolute;
                left: 0;
            }
        }

        .slide-back,
        .slide-back * {
            position:relative;
            left: 0;

            mjx-assistive-mml {
                position: absolute;
                left: 0;
            }
        }

        .slide-front,
        .slide-right {
            float:right;
        }

        .slide-back,
        .slide-left {
            float:left;
        }

        .slide-front {
            //background-color: white;
            margin-right: 0.5em;
        }

        .slide-back {
            //background-color: white;
            margin-left: 0.5em;
        }

    }

    .ctns-front-image img,
    .ctns-back-image img,
    .ctns-image img {
        max-width: 450px;
        width: 450px;
    }
}
