body:not(.nav-slide-mode) {

}

body.nav-slide-mode {

    .docs-content {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .body-footer,
    .ctns-button-group,
    span.math,
    p,
    ul,
    hr,
    .article-widget,
    .ctns-body:not(.ctns-flashcard),
    .ctns-body:not(.group-flashcard),
    h1, h2, h3,
    .spoiler,
    .docs-toc,
    .docs-sidebar {
        position:absolute;
        left:-999999px;
    }

    nav.navbar ul {
        position:relative;
        left:0;
    }

    .ctns-body.ctns-flashcard {
        p {
            position:relative;
            left: 0;
        }
    }

}

