.ctns-front-speak-text,
.ctns-back-speak-text,
.ctns-back,
.ctns-front {
    position: absolute;
    left: -99999999px;
}

.nav-tools-mode {

    .ctns-audio,
    .ctns-back-image,
    .ctns-front-image {
        position: absolute !important;
        left: -99999999px !important;

    }

    .ctns-front,
    .ctns-back {
        width: 604px;
        height: 364px;
        max-width: 604px;
        max-height: 364px;
        min-width: 604px;
        min-height: 364px;
        position: relative;
        left: 0px;
    }

    .ctns-front-speak-text,
    .ctns-back-speak-text {
        position: absolute;
        left: 0;
        font-size: 12px;
        line-height: 14px;
        text-align: left;
        padding-left: 4px;
    }
    .ctns-front-speak-text {
        top: 6px;
        color: red;
    }
    .ctns-back-speak-text {
        top: 24px;
        color: green;
    }
}

