{{ $idx := index (seq 1000 | shuffle) 0 }}
<div class="ctns-body ctns-no-answer-list ctns-no-audio ctns-no-border ctns-no-buttons ctns-no-commentary ctns-no-margin ctns-no-submit ctns-one-page group-none open" id="ctns_{{ $idx }}" max_height="490" max_width="420" style="background-color:transparent;padding:0"> <div class="ctns-quiz-container" style="padding:0;"> <div class="ctns-quiz" id="quiz_{{ $idx }}" style=""></div> </div><div class="ctns-button-group"> <button class="ctns-button ctns-previous" id="previous_{{ $idx }}">Previous Question</button> <button class="ctns-button ctns-next" id="next_{{ $idx }}">Next Question</button> <button class="ctns-button ctns-submit" id="submit_{{ $idx }}">Submit Quiz</button></div><div class="ctns-results ctns-hide" id="results_{{ $idx }}"></div></div>
<script>
    var script_loaded_func_absolute_value = function() {
            CTNS.QUIZ_SET_ID['func_absolute_value'] = CTNS.QUIZ_SET_ID['func_absolute_value'] || [];
            CTNS.QUIZ_SET_ID['func_absolute_value'].push('{{ $idx }}');
        };
</script>
<script defer='true' src='/cache/func_absolute_value.js?21' onload='script_loaded_func_absolute_value()' ></script>